$color-primary: #b88cae;     
$font-primary: 'Ms Madi', cursive;
$img2Var: 0; 

$sizes: 20px, 120px, 100px;

$genericValues: (
   
    'primaryHover' : #d83f3f,
    'secundaryHover' : #d8813f,
    'thirdHover' : #d8d53f,
    'nonLinearHover' : #8ed83f,
    'lastHover' : #d83f8e,
    'genericFont' : ('Mukta', sans-serif),
    'genericFontSize' : 100%

);

$hoverColours: #d83f3f,  #d8813f, #d8d53f, #8ed83f, #d83f8e;


